{% extends "index.html" %}
{% block content %}
    <div class="form-container">
        <h2>Yeni Forum Konusu Aç</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-field">
                <legend>Yeni Konu</legend>
                
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="text-input") }}
                </div>

                <div class="form-group">
                    {{ form.content.label }}
                    {{ form.content(class="text-input", rows=8) }} 
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock content %}